*{
    font-family: 'Verdana', sans-serif;
    padding:0;
    margin:0;
    border:0
}
body {
    background-color:rgb(224, 223, 238);
}
header{
    background-color: #4c93da;
}
#header-logo{
    width:64px;
    height:64px;
}
#header-msg{
    font-size: 25px;
    color: white;
}
#btnOne{
    background-color:#211f1e;
    color:white;
}
#btnOne:focus,#btnOne:hover{
    box-shadow: none;
    outline:none;
}

#tableHead{
    background-color:#211f1e;
}
#searchInput{
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    border-bottom: 1px solid #786f99;
}
#searchInput:hover,#searchInput:focus{
    box-shadow: none;
    outline:none;
}